<link href="~/CSS/Css1.css" rel="stylesheet" />


<div class="CentrowanieStrony">
    <div class="LewaStronaZObrazkiem" style="background-image: url('../../IMG/budynki.png'); background-repeat: repeat-y">

    </div>
    <div class="NaglowekStrony">
        <h1>Nieruchomości</h1>
    </div>
    <div class="SeparatorNaglowka"></div>
    <div class="TrescStrony">

        

        <br />

        <table style="width:100%;">
            <tr>
                <td>Link</td>
                <td>Cena</td>
                <td>Łazienki</td>
                <td>Sypialnie</td>
            </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        </table>
        <br />
        <input id="Button1" type="button" value="Wróć" />

    </div>
</div>

